$tipo-principal: 'Montserrat', sans-serif;

// colores
$verde: #4cb8b3;
$rosa: #f53756;
$amarillo: #fef46d;
$morado: #752f97;
$negro: #000000;
// $negro: #393939;
$blanco: #ececec;
$borde-negro: #00000050;
$marcado: rgb(127, 195, 255);

// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;

// Tipografía
$thin: 300;
$regular: 400;
$bold: 700;
$black: 900;

// Separaciones
$separacion: 5rem;
